<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708768065710-qtto57oli2tdh8ie9a5brf5747prmd7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708768065710-qtto57oli2tdh8ie9a5brf5747prmd7i</string>
	<key>API_KEY</key>
	<string>AIzaSyDGNsLKM_bogae21-0tEYS6lyc49Lmi3kk</string>
	<key>GCM_SENDER_ID</key>
	<string>708768065710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.mashup.digging</string>
	<key>PROJECT_ID</key>
	<string>digging-2caf4</string>
	<key>STORAGE_BUCKET</key>
	<string>digging-2caf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708768065710:ios:c0dbc330c86fba8269e53f</string>
</dict>
</plist>